body {
  margin:0%;
  padding: 0;
  background-color: #333333;
}

.card-img-center {
  width: 40%;
  /* font-size: 18px; */
  /* margin-top: 10px; */
  display: flex;
  justify-content: space-between;
  margin: auto;
  /* display: block; */
}

.card {
  display: flex;
  height: 200px;
  width: 200px;
  background-color: #613cac;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  align-items: center;
  align-content: center;
}

.card:not(:first-child) {
    margin-left: -10px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card-title {
  color: white;
  font-weight: 300;
  /* position: absolute; */
  left: 20px;
  top: 15px;
}

 .buttons {
  display: flex;
  justify-content: center;
  width: 12rem;
  margin: 2em auto 2em;
} 

.modal-content {
  background-color: rgb(175, 163, 242);
}

p {

  color:rgb(6, 57, 102);
}

.card2 {
  display: flex;
  height: 400px;
  width: 400px;
  background-color: #613cac;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  align-items: center;
  align-content: center;
}

.card2:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card2-title {
  color: white;
  font-weight: 300;
  /* position: absolute; */
  left: 20px;
  top: 15px;
}

#imagenId {
  width: 80%;
  /* font-size: 18px; */
  /* margin-top: 10px; */
  display: flex;
  justify-content: space-between;
  margin: auto;
  /* display: block; */
}